.firstSection {
    color: white;
    height: 100%;
    display: flex;
    padding: 4.5rem 0;
    margin: 0 auto;
    width: 60%;
}

.firstSection__rightSide {
    background: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png") no-repeat top left;
}

.firstSection__leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
}