.nav {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 95px;
    z-index: 100000;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__contents {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    position: fixed;
    top:30px;
    left: 0;
    width: 130px;
    object-fit: contain;
    padding-left: 10px;
    cursor: pointer;
}

.nav__avatar {
    position: fixed;
    right: 30px;
    width: 50px;
    height: 50px;
}

.nav__avatar:hover {
    cursor: pointer;
}

.nav__downIcon,.nav__upIcon {
    position: fixed;
    right: 0px;
    top: 35px;
    width: 20px;
    height: 20px;
}

.nav__upIcon::after {
    content:'\25B2';
    color: antiquewhite;
}

.nav__downIcon::after {
    content: '\25BC';
    color: antiquewhite;  
}

.nav__black {
    background-color: #111;
}

.nav__search--input {
    transition:width 0.45s ease-in;
    border: none;
    width: 0px;
    background-color: black;
    opacity: 0.5;
    color: white;
    border-radius: 5px;
    margin-left: 50px;
    
    
}

.nav__search--btn {
    transition: all 0.45s ease-in;
    z-index: 99999;
    top: 25px;
}

.nav__search--input:focus {
    width: 320px;
    border:none;
    outline:1px solid white;
    padding-left: 50px;
    padding-right: 50px;
}

.nav__search--cross {

}

.moveToLeft {
    right: 380px !important;
}